#result {
  display: none;
}

body {
  background-color: steelblue;

}

.container {
  margin-top: 13%;
  text-align: center;
  border: solid #fff;
  border-radius: 25px;
  padding:1% 0 4%;
}

.form-group {
  display: inline-flex;
}

.form-group input {
      padding: 1%;
}
