#result {
  display: none;
}

body {
  background-color: steelblue;

}

.container {
  margin-top: 13%;
  text-align: center;
}

.form-group {
  display: inline-flex;
}

.form-group input {
      padding: 1%;
}
